<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${isEdit} ? 'Kategorie bearbeiten' : 'Kategorie anlegen'">Kategorie</title>
</head>
<body>
<div th:replace="~{fragments/layout :: siteHeader(${isEdit} ? 'Kategorie bearbeiten' : 'Kategorie anlegen')}"></div>

<form th:object="${category}"
      th:action="${isEdit} ? @{/categories/{id}/edit(id=${category.id})} : @{/categories/new}"
      method="post">

    <div>
        <label for="name">Name *</label><br>
        <input type="text" id="name" th:field="*{name}">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></p>
    </div>

    <div>
        <label for="description">Beschreibung</label><br>
        <textarea id="description" th:field="*{description}" rows="4" cols="50"></textarea>
    </div>


    <div style="margin-top: 12px;">
        <button type="submit">Speichern</button>
        <a th:href="${isEdit} ? @{/categories/{id}(id=${category.id})} : @{/categories}">Abbrechen</a>
    </div>
</form>
</body>
</html>

